/*
 * General Styles
 */

* {
    border: 0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
  font-family: "微软雅黑", "Microsoft Yahei", "华文细黑", STXihei !important;
}

/*
 * Layout
 */

#mobiles-360-blur {
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 90;
    display: none;
}

.logo {
    background-image: url(/assets/images/logo.png);
    background-repeat: no-repeat;
    height: 59px;
    margin: 33px auto;
    width: 130px;
}

.menu-bar-line {
    height: 1px;
    /* generated gradients */
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #FFFFFF),
        color-stop(0.53, #DBDCE0),
        color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(right, #FFFFFF 0%, #DBDCE0 53%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(right, #FFFFFF 0%, #DBDCE0 53%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(right, #FFFFFF 0%, #DBDCE0 53%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(right, #FFFFFF 0%, #DBDCE0 53%, #FFFFFF 100%);
    background-image: linear-gradient(to right, #FFFFFF 0%, #DBDCE0 53%, #FFFFFF 100%);
}

.menu-bar {
    text-align: center;
    word-spacing: -7px;
    position: relative;
    min-width: 900px;
}

.menu-bar>ul {
display: table;
/*border-top: 1px solid #c1bfb9; */
margin: 0 auto;
}

.menu-bar .menu {
/*
    background-color: #ececec;
    border-color: #bbbbbb;
    border-style: solid;
    border-top-color: #f8f8f8;
    border-width: 1px;
    color: #7d7d7d;
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 120px;
*/
  display: table-cell;
  text-align: center;
  width: 140px;
  background: url(/assets/images/offical/menu-btbg_140x44.png);
  background-size: 140px 132px;
  height: 42px;
  font-size: 0.85em;
  vertical-align: middle;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
border-right: 1px solid #c1bfb9;
}

body a, body a:active, body a:visited, body a:hover {
  text-decoration: none;
}

.menu-bar>ul li.menu:first-child
{
  border-left: 1px solid #c1bfb9;
}

.menu-bar>ul li.menu>a
{
   line-height: 1em;
   padding: 0 4px;
   margin: 0;
   text-align: center;
   width: 100%;
   color: #47444b;
   color: #47444b;
   letter-spacing: 0.10em;
} 

.menu-bar>ul li.menu.active>a
{
/*  transition: all 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
*/
  color: white;
}

.menu-bar .menu:hover {
  background-position: 0 -44px;
}

.menu-bar .menu.active {
/**
    color: #f8f8f8;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #8D8D8D),
        color-stop(0.53, #999999),
        color-stop(1, #8D8D8D)
    );
    background-image: -o-linear-gradient(bottom, #8D8D8D 0%, #999999 53%, #8D8D8D 100%);
    background-image: -moz-linear-gradient(bottom, #8D8D8D 0%, #999999 53%, #8D8D8D 100%);
    background-image: -webkit-linear-gradient(bottom, #8D8D8D 0%, #999999 53%, #8D8D8D 100%);
    background-image: -ms-linear-gradient(bottom, #8D8D8D 0%, #999999 53%, #8D8D8D 100%);
    background-image: linear-gradient(to bottom, #8D8D8D 0%, #999999 53%, #8D8D8D 100%);
-webkit-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
-moz-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
-ms-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
-o-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
*/
height: 44px;
background-position: 0 -88px;
text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
/*-webkit-box-shadow: rgba(100,100,100,0.9) 0px 5px 6px inset;
-moz-box-shadow: rgba(100,100,100,0.9) 0px 5px 6px inset;
box-shadow: rgba(100,100,100,0.9) 0px 5px 6px inset;
*/
}

.show-menu {
    position: absolute;
    right: 0px;
    top: 12px;
    /*background-color: white;*/
    color: #3b3b3b;
    display: inline-block;
    cursor: default;
    margin-right: 4px;
}

.show-menu .text {
    float: right;
}

.show-menu .show-menu-triangle {
    width: 7px;
    height: 4px;
    background-image: url(/assets/images/show_menu_triangle.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: right;
    margin: 8px 6px 0 6px;
}

.show-menu2 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
    display: none;
    background-color: white;
}

.show-menu2 .show-menu2-item {
    padding: 2px 10px;
    color: black;
}

.show-menu2 .show-menu2-ok {
    margin: 0px 9px;
}

.content {
    margin: 0 auto;
    background-color: #f6f6f6;
    width: 100%;
    /*max-width: 1280px;*/
}

.footer-shadow {
    background-image: radial-gradient(400px 25px at center -10px, #e1e1e1, #ffffff);
    height: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.footer {
    margin: 0px auto 33px auto;
    text-align: center;
    word-spacing: -7px;
}

.footer .item {
    display: inline-block;
}

.footer .share {
    width: 142px;
    height: 30px;
    background-image: url(/assets/images/share.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.footer .icon {
    width: 29px;
    height: 30px;
}

.footer .weibo {
    background-image: url(/assets/images/share_weibo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.footer .weibo:hover {
    background-image: url(/assets/images/share_weibo_onclick.jpg);
}

.footer .wechat {
    background-image: url(/assets/images/share_wechat.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.footer .wechat:hover {
    background-image: url(/assets/images/share_wechat_onclick.jpg);
}

.footer .email {
    background-image: url(/assets/images/share_email.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.footer .email:hover {
    background-image: url(/assets/images/share_email_onclick.jpg);
}

.footer-line {
    height: 1px;
    /* generated gradients */
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #FFFFFF),
        color-stop(0.25, #FFFFFF),
        color-stop(0.5, #DBDCE0),
        color-stop(0.75, #FFFFFF),
        color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(right, #FFFFFF 0%, #FFFFFF 25%, #DBDCE0 50%, #FFFFFF 75%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(right, #FFFFFF 0%, #FFFFFF 25%, #DBDCE0 50%, #FFFFFF 75%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(right, #FFFFFF 0%, #FFFFFF 25%, #DBDCE0 50%, #FFFFFF 75%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(right, #FFFFFF 0%, #FFFFFF 25%, #DBDCE0 50%, #FFFFFF 75%, #FFFFFF 100%);
    background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 25%, #DBDCE0 50%, #FFFFFF 75%, #FFFFFF 100%);
}

.copyright {
    color: rgb(128, 126, 132);
    margin-top: 33px;
    text-align: center;
    font-size: 12px;
}
