.auto-show-360 {
    width: 100%;
    height: 700px;
}

.auto-show-mid-bar {
    color: white;
    text-align: center;
    width: 100%;
    height: 100px;
    padding: 27px 0 0 0;
    background-image: url(/assets/images/show_mid_bg.png);
    background-size: 100% 100%;
    background-repeat: repeat-x;
    margin-top: -5px;
    font-size: 30px;
}

.auto-show-bottom {
    width: 100%;
    height: auto;
    margin: -1px 0 0 0;
}

.auto-show-gallery {
    display: inline-block;
    width: 56.25%;
    height: 480px;
    vertical-align: top;
}

.auto-show-info {
    display: inline-block;
    width: 43.2%;
}

.auto-show-info .auto-show-desc {
    color: #555555;
    padding: 20px;
    line-height: 179%;
}

.auto-show-info .shadow {
    width: 100%;
    height: 20px;
    background-image: url(/assets/images/show_info_shadow.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.auto-show-info .title {
    color: #012b5b;
    font-size: 24px;
    margin-top: 0px;
}

.auto-show-info .info-box {
    text-align: center;
}

.auto-show-info .text {
    color: #555555;
    font-size: 1.1em;
}

.auto-show-info .schedule-title {
    margin-top: 20px;
}

.auto-show-info .location-title {
    margin-top: 24px;
}

.auto-show-map-btn {
    width: 125px;
    height: 33px;
    margin: 10px auto 20px;
    background-image: url(/assets/images/btn_map.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 0 none;
    -ms-behavior: url(/backgroundsize.htc);
}

.auto-show-map-btn:hover {
    background-image: url(/assets/images/btn_map_onclick.png);
}

.auto-show-info .stage {
    font-size: 24px;
    color: #012b5b;
}
