@(title: String)(content: Html)
<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link href="@routes.Assets.at("/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <script src="@routes.Assets.at("javascripts/jquery-1.11.1.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("/bootstrap/js/bootstrap.js")" type="text/javascript"></script>

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/mobile/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/mobile/landing.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/mobile/show.css")">
    </head>

    <body>
        <button class="menu-btn"></button>
        <div class="top-container">
            <div class="logo"></div>
        </div>

        <div class="menu-bar">
            <a class="menu current" href="/mobiles">360°车型体验</a>
            <a class="menu" href="/shows">车展信息</a>
            <a class="menu" href="/">查找经销商</a>
            <a class="menu" href="http://maserati.uncrm.cn/">预约试驾</a>
            <a class="menu last" href="/">联系我们</a>
        </div>

        <div class="content">
            @content
        </div>

        <div class="footer-shadow"></div>

        <div class="footer">
            <div class="item share"></div>
            <div class="item icon weibo"></div>
            <div class="item icon wechat"></div>
            <div class="item icon email"></div>
        </div>

        @*<div class="footer">
            <div class="item text">分享你的激情</div>
            <div class="item icon">wb</div>
            <div class="item icon">wx</div>
            <div class="item icon">em</div>
        </div>*@

        <div class="footer-line"></div>

        <div class="copyright">&copy;Maserati 2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy;玛莎拉蒂2014版权所有</div>

        <script src="@routes.Assets.at("javascripts/mobile/layout.js")" type="text/javascript"></script>
    </body>
</html>
