@(title: String, showOpt: Option[maserati.model.Show])(content: Html)
@import maserati.data
<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <link href="@routes.Assets.at("/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <script src="@routes.Assets.at("javascripts/jquery-1.11.1.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("/bootstrap/js/bootstrap.js")" type="text/javascript"></script>

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/mobile/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/mobile/landing.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/mobile/show.css")">
    </head>

    <!--<body style="font-size: 42px">-->
    <body style="font-size: 15px">

      <div class="body">
        <!--<button class="menu-btn"></button>-->

        <div class="menu-container">
            <button class="main-menu-btn menu-btn"></button>
            @if(showOpt.isDefined) {
            <button class="show-menu-btn menu-btn"></button>
            }
        </div>

        <div class="top-container">
            <div class="logo"></div>
        </div>

        <div class="menu-bar">
            <a class="menu current" href="/mobiles">360°车型体验</a>
            <a class="menu" href="/shows">车展信息</a>
            <a class="menu" href="http://www.maserati.com.cn/maserati/cn/zh/index/dealer-locator.html">查找经销商</a>
            <a class="menu" href="http://maserati.uncrm.cn/">预约试驾</a>
            <a class="menu last" href="http://www.maserati.com.cn/maserati/cn/zh/index/services/contact.html">联系我们</a>
        </div>

        @if(showOpt.isDefined) {
        <div class="show-menu-bar">
            @for(s <- data.shows.all) {
                <a class="menu @{if(s == showOpt.get) { "current" } else {} }" href="#">@{s.name}</a>
            }
            @*<a class="menu" href="#">2014深圳车展</a>
            <a class="menu last" href="#">2014北京车展</a>*@
        </div>
        }

        <div class="content">
            @content
        </div>

        <span class="footer">
            <span class="item share"></span>
            <span class="item icon weibo"></span>
            <span class="item icon wechat"></span>
            <span class="item icon email"></span>
        </span>

        @*<div class="footer">
            <div class="item text">分享你的激情</div>
            <div class="item icon">wb</div>
            <div class="item icon">wx</div>
            <div class="item icon">em</div>
        </div>*@

        <div class="footer-line"></div>

        <div class="copyright">&copy;Maserati 2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy;玛莎拉蒂2014版权所有</div>

        <script src="@routes.Assets.at("javascripts/mobile/layout.js")" type="text/javascript"></script>
      </div>
    </body>
</html>
