
@import maserati.data

@layout("360°车型体验") {
    <style type="text/css">
        @for(m <- data.models.list_all) {
        .mobiles-box .mobile-thumbnail.@{m.id} {
        background-image: url(@{"/assets/images/" + m.thumbnail});
        }
        .mobiles-box .mobile-thumbnail.@{m.id}:hover {
        background-image: url(@{"/assets/images/" + m.thumbnailDark});
        }
        }
    </style>


    @for(m <- data.models.list_all) {
        <div class="mobiles-box">
            <div class="mobile-thumbnail @{m.id}"
                 exterior="/assets/360Panos/@{m.exterior360}"
                 interior="/assets/360Panos/@{m.interior360}">
                <!--div class="arrow"></div-->
            </div>
            <div class="right-box">
                <div class="text">@{m.name}</div>
                <button class="btn discover-more-btn">发现更多</button>
                @if(m.hasTestDrive) {
                <button class="btn test-drive-btn">预约试驾</button>
                }
            </div>
        </div>
    }


    @*<div class="mobiles-box">
        <div class="mobile-thumbnail quottro"
             interior="/assets/360/ghibli_interior/html/4-2.html">
            <div class="arrow"></div>
        </div>
        <div class="right-box">
            <div class="text">Quottroporte<br>杰尼亚限量版</div>
            <button class="btn discover-more-btn">发现更多</button>
        </div>
    </div>*@

    <!-- 360 窗口 -->
    <div class="mobiles-360-container">

        <div class="mobiles-360-header">
            <button class="btn exterior-btn">外观360°</button>
            <button class="btn interior-btn">内饰360°</button>
            <button class="btn close-360-btn">关闭</button>
        </div>

        <iframe class="mobiles-360-body" src=""></iframe>

    </div>

    <!-- 发现更多窗口 -->
    <div class="discover-container">

        <div class="btn-bar">
            <button class="close-discover-btn"></button>
        </div>

        <div class="text-container">
            <div class="text mobile-name">Quattroporte V8</div>
            <div class="text mobile-desc">高性能豪华轿车概念</div>
            <div class="text shadwo"></div>
            <div class="text emission">排量</div>
            <div class="text emission-value">3798毫升</div>
            <div class="text max-speed">最高车速</div>
            <div class="text max-speed-value">307公里每小时</div>
            <div class="text accelaration">0至100公里每小时加速</div>
            <div class="text accelaration-value">4.7秒</div>
        </div>

        <div class="discover-image">

            <div class="image" style="background-image: url(http://placehold.it/300x400)">

            </div>

        </div>
    </div>

    <script src="@routes.Assets.at("javascripts/mobile/mobiles360.js")" type="text/javascript"></script>
}
