@(show: maserati.model.Show)
@import maserati.data

@layout("车展信息") {

    <iframe class="auto-show-360" src="/assets/360Panos/@{show.d360}">
    </iframe>

    <div class="auto-show-mid-bar">@{show.fullname}</div>

    <div class="auto-show-gallery"></div>

    <div class="auto-show-info">

        <div class="auto-show-desc">
            @{show.desc}
        </div>

        <div class="shadow"></div>

        <div class="info-box">
            <div class="title">时间 地址</div>
            <div class="time">
                @for(line <- show.schedule) {
                    @line<br>
                }
            </div>
            <div class="location">
                @for(line <- show.location) {
                    @line<br>
                }
            </div>

            <button class="auto-show-map-btn">地图</button>

            <div class="stage">
                @{show.stage}
            </div>
        </div>
    </div>
}