*, *:before, *:after {
    margin: 0; 
    padding: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    outline: 0 none;
}

a:hover, a:active, a:visited, a:link {
    text-decoration: none;
    color: inherit;
    outline: 0 none;
}

html, body {
    background-color: #D0D0D0;
    height: 100%;
    width: 100%;
    padding: 7px;
    font-family: "微软雅黑", "Microsoft Yahei", "华文细黑", STXihei !important;
}

.container {
    background-color: white;
    height: auto;
}

.bigbox {
    padding: 7px;
    height: auto;
    border: solid #D0D0D0;
    border-width: 0 0 1px 0;
}

.innerbox {
    width: 100%;
    height: auto;
    /*background: url(test_drive_pic.png) no-repeat;*/
    /*background-size: contain;*/
}

.smallbox {
    padding: 7px;
    border: solid #D0D0D0;
    height: auto;
    border-width: 0 0 1px 0;
}

.smallbox .img {
    /*margin-right: 5px;*/
    width: auto;
    height: 50px;
    float: right;
}

.smallbox .img-personalize {
    /*background: url(http://placehold.it/50x50);
    background-size: contain;*/
}

.smallbox .img-360show {
    /*background: url(http://placehold.it/50x50);
    background-size: contain;*/
}

.smallbox .text {
    margin: 15px 0;
    display: inline-block;
    font-size: 1em;
}
