
.mobiles-box {
    width: 100%;
    min-height: 110px;
    background-image: url(/assets/images/mobile_box_bg.png);
    background-size: auto 100%;
    background-repeat: x-repeat;
    display: inline-block;
    padding-top: 15px;
}

.mobiles-box .mobile-thumbnail {
    display: inline-block;
    min-height: 80px;
    margin-left: 3%;
    width: 53%;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 0 0 20px;
}

.right-box {
    display: inline-block;
    width: 43%;
    float: right;
    height: auto;
}

.right-box .text {
    font-size: 1em;
    color: #545454;
    text-align: center;
}

.right-box .btn {
    color: white;
    font-size: 0.8em;
    display: block;
    width: 85%;
    margin: 3px auto;
}

.discover-more-btn {
    border-color: #001a33;
    /* generated gradients */
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #213F61),
        color-stop(0.6, #001A35)
    );
    background-image: -o-linear-gradient(bottom, #213F61 0%, #001A35 60%);
    background-image: -moz-linear-gradient(bottom, #213F61 0%, #001A35 60%);
    background-image: -webkit-linear-gradient(bottom, #213F61 0%, #001A35 60%);
    background-image: -ms-linear-gradient(bottom, #213F61 0%, #001A35 60%);
    background-image: linear-gradient(to bottom, #213F61 0%, #001A35 60%);
}

.discover-more-btn:hover {
    /* generated gradients */
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #213F61),
        color-stop(0.6, #001A35)
    );
    background-image: -o-linear-gradient(top, #213F61 0%, #001A35 60%);
    background-image: -moz-linear-gradient(top, #213F61 0%, #001A35 60%);
    background-image: -webkit-linear-gradient(top, #213F61 0%, #001A35 60%);
    background-image: -ms-linear-gradient(top, #213F61 0%, #001A35 60%);
    background-image: linear-gradient(to top, #213F61 0%, #001A35 60%);
}

.test-drive-btn {
    border-color: #363636;
    /* generated gradients */
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #454545),
        color-stop(0.76, #6C6C6C)
    );
    background-image: -o-linear-gradient(top, #454545 0%, #6C6C6C 76%);
    background-image: -moz-linear-gradient(top, #454545 0%, #6C6C6C 76%);
    background-image: -webkit-linear-gradient(top, #454545 0%, #6C6C6C 76%);
    background-image: -ms-linear-gradient(top, #454545 0%, #6C6C6C 76%);
    background-image: linear-gradient(to top, #454545 0%, #6C6C6C 76%);
}

.test-drive-btn:hover {
    /* generated gradients */
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #454545),
        color-stop(0.76, #6C6C6C)
    );
    background-image: -o-linear-gradient(bottom, #454545 0%, #6C6C6C 76%);
    background-image: -moz-linear-gradient(bottom, #454545 0%, #6C6C6C 76%);
    background-image: -webkit-linear-gradient(bottom, #454545 0%, #6C6C6C 76%);
    background-image: -ms-linear-gradient(bottom, #454545 0%, #6C6C6C 76%);
    background-image: linear-gradient(to bottom, #454545 0%, #6C6C6C 76%);
}


/* 360 窗口 */
.mobiles-360-container {
    background-color: rgba(255,255,255,0.9);
    display: none;
    height: 100%;
    left: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    /*width: 600px;*/
    z-index: 99;
}

.mobiles-360-header {
    display: inline-block;
    padding: 20px 8px 5px;
    width: 100%;
}

.mobiles-360-header .btn {
    border: 1px solid;
    border-color: #d2d2d2;
    color: #012c59;
    font-size: 0.85em;
    padding: 4px;
    width: 85px;
    float: left;
    /* generated gradients */
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #FCFCFC),
        color-stop(1, #EEEEEE)
    );
    background-image: -o-linear-gradient(bottom, #FCFCFC 0%, #EEEEEE 100%);
    background-image: -moz-linear-gradient(bottom, #FCFCFC 0%, #EEEEEE 100%);
    background-image: -webkit-linear-gradient(bottom, #FCFCFC 0%, #EEEEEE 100%);
    background-image: -ms-linear-gradient(bottom, #FCFCFC 0%, #EEEEEE 100%);
    background-image: linear-gradient(to bottom, #FCFCFC 0%, #EEEEEE 100%);
}

.mobiles-360-header .btn:focus {
    outline: 0 none;
}

.mobiles-360-header .btn:hover {
    /* generated gradients */
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #EEEEEE),
        color-stop(1, #FCFCFC)
    );
    background-image: -o-linear-gradient(bottom, #EEEEEE 0%, #FCFCFC 100%);
    background-image: -moz-linear-gradient(bottom, #EEEEEE 0%, #FCFCFC 100%);
    background-image: -webkit-linear-gradient(bottom, #EEEEEE 0%, #FCFCFC 100%);
    background-image: -ms-linear-gradient(bottom, #EEEEEE 0%, #FCFCFC 100%);
    background-image: linear-gradient(to bottom, #EEEEEE 0%, #FCFCFC 100%);
}

.mobiles-360-header .close-360-btn {
    float: right;
    background-image: url(/assets/images/btn_layer_close.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
    height: 28px;
    width: 58px;
    border: 0 none;
}

.mobiles-360-body {
    /*background-color: blue;*/
    height: inherit;
    width: 100%;
    border: 0 none;
}


/* 发现更多窗口 */

.discover-container {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /*height: 100%;*/
    z-index: 5;
    background-color: rgba(255,255,255,0.9)
}

.discover-content {
    vertical-align: middle; 
}

.discover-container .btn-bar {
    height: 6%;
    width: inherit;
    background-color: rgba(0,0,0,0);
}

.discover-container .close-discover-btn {
    height: 30px;
    width: 70px;
    background-image: url(/assets/images/btn_layer_close.png);
    margin-right: 10px;
    background-color: rgba(0,0,0,0);
    border: 0;
}

.discover-container .text-container {
    width: 100%;
    height: 33%;
    background: url(/assets/images/text-container-bg-mobile.png) no-repeat bottom center;
    background-size: 100% 100%;
}

.discover-container .text-head {
    padding-top: 5px;
    height: 25%;
}

.discover-container .mobile-desc {
   font-size: 12px;
}

.discover-container .mobile-title {
   font-size: 10px;
   padding-top: 12px;
}
.discover-container .text-container .text {
    color: white;
}

.discover-image {
    height: 75%;
}

.discover-image-iframe {
    width: 100%;
    height: 100%;
}

/*.discover-container {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: inherit;
    height: auto;
}

.discover-container .btn-bar {
    height: 60px;
    width: inherit;
    background-color: #ffffff;
}

.discover-container .close-discover-btn {
    height: 30px;
    width: 60px;
    background-image: url(http://placehold.it/20x10);
    float: right;
}

.discover-container .text-container {
    text-align: center;
    width: inherit;
    background-color: #333333;
}

.discover-image .image {
    width: inherit;
    height: 300px;
    background-size: contain;
}*/
