/*
 * General Styles
 */

* {
//    border: 0;
//    margin: 0;
//    padding: 0;
}
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, input, textarea, fieldset, blockquote 
{
    margin: 0; padding: 0; border: 0;
}

html body {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

body .btn {
    border: 0 none;
    border-radius: 0;
}

.body {
  min-width: 320px;
  margin: 0 auto;
}

a {
    text-decoration: none;
}

/*
 * Layout
 */

#mobiles-360-blur {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 90;
    display: none;
}

.top-container {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: inline-block;
}

.logo {
    background: url(/assets/images/maserati_header_logo.jpg)top center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 60px;
    width: 100%;
    margin-top: 20px;
}

.menu-container {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 10px;
}

.menu-btn {
    width: 40px;
    height: 40px;
    background-size: contain;
    border: 0 none;
}

.main-menu-btn {
    background-image: url(/assets/images/menu_main.jpg);
    margin-left: 8px;
}

.show-menu-btn {
    background-image: url(/assets/images/menu_extra.jpg);
    float: right;
    margin-right: 8px;
}

.main-menu-bar {
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    margin: 0;
    z-index: 1;
}

.main-menu-bar .menu {
    display: block;
    background-color: #eeeeee;
    color: #555555;
    padding: 1.2em 0;
    text-align: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #bbbbbb;
    font-size: 1em;
    text-decoration: none;
}

.main-menu-bar .menu:active {
    color: white;
    background-color: #333333;
}

.main-menu-bar .menu.last {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.show-menu-bar {
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    margin: 0;
    z-index: 1;
}

.show-menu-bar .menu {
    display: block;
    background-color: #e2e2e2;
    color: #525252;
    text-align: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #bbbbbb;
    font-size: 1em;
    text-decoration: none;
    padding: 1.2em 0;
}

.show-menu-bar .menu.current {
    background-color: #909090;
    color: white;
}

.show-menu-bar .menu.last {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.content {
    width: 100%;
    background-color: #f6f6f6;
}

.footer {
    display: inline-block;
    height: auto;
    width: 100%;
    margin-top: 18px;
    text-align: center;
    word-spacing: -4px;
}

.footer .item {
    display: inline-block;
    height: 20px;
}

.footer .share {
    width: 100px;
    /*min-height: 40px;*/
    background-image: url(/assets/images/share.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.footer .icon {
    width: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.footer .weibo {
    background-image: url(/assets/images/share_weibo.jpg);
}

.footer .weibo:hover {
    background-image: url(/assets/images/share_weibo_onclick.jpg);
}

.footer .wechat {
    background-image: url(/assets/images/share_wechat.jpg);

}

.footer .wechat:hover {
    background-image: url(/assets/images/share_wechat_onclick.jpg);
}

.footer .email {
    background-image: url(/assets/images/share_email.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.footer .email:hover {
    background-image: url(/assets/images/share_email_onclick.jpg);
}

.footer-line {
    height: 1px;
    margin: 12px 0;
    /* generated gradients */
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #FFFFFF),
        color-stop(0.25, #FFFFFF),
        color-stop(0.5, #DBDCE0),
        color-stop(0.75, #FFFFFF),
        color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(right, #FFFFFF 0%, #FFFFFF 25%, #DBDCE0 50%, #FFFFFF 75%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(right, #FFFFFF 0%, #FFFFFF 25%, #DBDCE0 50%, #FFFFFF 75%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(right, #FFFFFF 0%, #FFFFFF 25%, #DBDCE0 50%, #FFFFFF 75%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(right, #FFFFFF 0%, #FFFFFF 25%, #DBDCE0 50%, #FFFFFF 75%, #FFFFFF 100%);
    background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 25%, #DBDCE0 50%, #FFFFFF 75%, #FFFFFF 100%);
}

.copyright {
    color: #555555;
    margin-bottom: 20px;
    text-align: center;
    font-size: 0.6em;
}
