/*
 * General Styles
 */

* {
    border: 0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/*
 * Layout
 */

.top-container {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: inline-block;
}

.menu-btn {
    background-image: url(/assets/images/menu_main.jpg);
    width: 130px;
    height: 130px;
    background-size: contain;
    position: absolute;
    margin: 30px 30px;
}

.logo {
    background-image: url(/assets/images/maserati_header_logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 160px;
    margin: 60px auto;
    width: 320px;
}

.menu-bar {
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    margin: 0;
    z-index: 1;
}

.menu-bar .menu {
    display: block;
    background-color: #eeeeee;
    color: #555555;
    padding: 50px;
    text-align: center;
    border-top-style: solid;
    border-top-width: 1px;
    font-size: 2.6em;
    text-decoration: none;
}

.menu-bar .menu.last {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.content {
    width: 100%;
    background-color: #f6f6f6;
}

.footer-shadow {
    background-image: radial-gradient(400px 25px at center -10px, #e1e1e1, #ffffff);
    height: 30px;
    margin-bottom: 30px;
}


.footer {
    margin: 0px auto 33px auto;
    text-align: center;
    word-spacing: -7px;
}

.footer .item {
    display: inline-block;
}

.footer .share {
    width: 420px;
    height: 90px;
    background-image: url(/assets/images/share.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.footer .icon {
    width: 85px;
    height: 90px;
    margin-left: -7px;
}

.footer .weibo {
    background-image: url(/assets/images/share_weibo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.footer .weibo:hover {
    background-image: url(/assets/images/share_weibo_onclick.jpg);
}

.footer .wechat {
    background-image: url(/assets/images/share_wechat.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.footer .wechat:hover {
    background-image: url(/assets/images/share_wechat_onclick.jpg);
}

.footer .email {
    background-image: url(/assets/images/share_email.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.footer .email:hover {
    background-image: url(/assets/images/share_email_onclick.jpg);
}

/*.footer {
    margin: 0px auto 33px auto;
    text-align: center;
    word-spacing: -7px;
}

.footer .item {
    border-color: #d6d6d6;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    padding: 7px 7px;
    *//* generated gradients *//*
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #F1F1F1),
        color-stop(0.61, #F7F7F7)
    );
    background-image: -o-linear-gradient(bottom, #F1F1F1 0%, #F7F7F7 61%);
    background-image: -moz-linear-gradient(bottom, #F1F1F1 0%, #F7F7F7 61%);
    background-image: -webkit-linear-gradient(bottom, #F1F1F1 0%, #F7F7F7 61%);
    background-image: -ms-linear-gradient(bottom, #F1F1F1 0%, #F7F7F7 61%);
    background-image: linear-gradient(to bottom, #F1F1F1 0%, #F7F7F7 61%);
}

.footer .text {
    width: 150px;
}

.footer .icon {

}*/

.footer-line {
    height: 1px;
    /* generated gradients */
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #FFFFFF),
        color-stop(0.25, #FFFFFF),
        color-stop(0.5, #DBDCE0),
        color-stop(0.75, #FFFFFF),
        color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(right, #FFFFFF 0%, #FFFFFF 25%, #DBDCE0 50%, #FFFFFF 75%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(right, #FFFFFF 0%, #FFFFFF 25%, #DBDCE0 50%, #FFFFFF 75%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(right, #FFFFFF 0%, #FFFFFF 25%, #DBDCE0 50%, #FFFFFF 75%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(right, #FFFFFF 0%, #FFFFFF 25%, #DBDCE0 50%, #FFFFFF 75%, #FFFFFF 100%);
    background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 25%, #DBDCE0 50%, #FFFFFF 75%, #FFFFFF 100%);
}

.copyright {
    color: #555555;
    margin-top: 33px;
    margin-bottom: 33px;
    text-align: center;
    font-size: 0.75em;
}
