.auto-show-360 {
    width: 100%;
    border: 0 none;
}

.auto-show-mid-bar {
    color: white;
    text-align: center;
    width: 100%;
    height: 45px;
    background-image: url(/assets/images/show_mid_bg.png);
    background-size: auto 100%;
    background-repeat: repeat-x;
    font-size: 1.3em;
    padding: 5px 0;
    margin-top: -6px;
}

.auto-show-gallery {
    width: 100%;
    height: auto;
    border: 0 none;
    margin-top: -1px;
}

.auto-show-gallery .image {
    width: 100%;
}

.auto-show-info {
    width: 100%;
    padding: 5px 10px;
}

.auto-show-info .auto-show-desc {
    width: 100%;
    font-size: 0.85em;
    color: #555555;
    padding: 5px 10px;
}

.auto-show-info .shadow {
    background-image: url(/assets/images/show_info_shadow.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 20px;
    margin: 20px auto 10px;
}

.auto-show-info .info-box {
    text-align: center;
    color: #555555;
}

.info-box .title {
    font-size: 1.2em;
}

.info-box .text {
    font-size: 0.9em;
    margin-top: 13px;
}

/*.info-box .schedule {
    margin-bottom: 20px;
}

.info-box .location {
    margin-bottom: 15px;
}*/

.auto-show-map-btn {
    background-image: url(/assets/images/btn_map.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 30px;
}

.auto-show-map-btn:active {
    background-image: url(/assets/images/btn_map_onclick.png);
}

.info-box .stage {
    font-size: 1.2em;
    margin: 12px auto 10px;
}
