.auto-show-360 {
    width: 100%;
}

.auto-show-mid-bar {
    color: white;
    text-align: center;
    width: 100%;
    height: 45px;
    /*padding: 60px 0 0;*/
    background-image: url(/assets/images/show_mid_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*margin-top: -4px; */
    font-size: 1.5em;
    /*margin-top: -25px;*/
    /*margin-bottom: -4px; */
}

.auto-show-gallery {
    width: 100%;
    height: auto;
    /*background-size: contain;*/
}

.auto-show-gallery .image {
    width: 100%;
}

.auto-show-info {
    width: 100%;
    padding: 5px 10px;
}

.auto-show-info .auto-show-desc {
    width: 100%;
    font-size: 1em;
    color: #555555;
}

.auto-show-info .shadow {
    background-image: url(/assets/images/show_info_shadow.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 20px;
}

.auto-show-info .info-box {
    text-align: center;
    color: #555555;
}

.info-box .title {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.info-box .text {
    font-size: 1em;
}

.info-box .schedule {
    margin-bottom: 20px;
}

.info-box .location {
    margin-bottom: 15px;
}

.auto-show-map-btn {
    background-image: url(/assets/images/btn_map.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 40px;
}

.auto-show-map-btn:active {
    background-image: url(/assets/images/btn_map_onclick.png);
}

.info-box .stage {
    font-size: 1.5em;
}
