@(title: String, current: String, showOpt: Option[maserati.model.Show])(content: Html)
@import maserati.data
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link href="@routes.Assets.at("/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
        <script src="@routes.Assets.at("javascripts/jquery-1.11.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("/bootstrap/js/bootstrap.js")" type="text/javascript"></script>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/landing.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/show.css")">
    </head>

    <body>

        <div id="mobiles-360-blur"></div>

        <div class="logo"></div>

        <div class="menu-bar-line"></div>

        <div class="menu-bar">
          <ul>
            <li class="menu @{if(current=="mobiles") { "active" } else {} }" >
            <a href="/">360°车型体验</a>
            </li>
            <li class="menu @{if(current=="show") { "active" } else {} }" >
            <a href="/shows">车展信息</a>
            </li>
            <li class="menu" >
            <a  href="http://www.maserati.com.cn/maserati/cn/zh/index/dealer-locator.html" target="_blank">查找经销商</a>
            </li>
            <li class="menu" >
            <a href="http://www.maseraticampaign.cn/test-drive/test-drive.html" target="_blank">预约试驾</a>
            </li>
            <li class="menu" >
            <a href="http://www.maserati.com.cn/maserati/cn/zh/index/services/contact.html" target="_blank">联系我们</a>
            </li>

          </ul>
          @if(showOpt.isDefined) {
            <div class="show-menu" >
              <div>
                  <div class="show-menu-triangle"></div>
                  <span class="text">往届车展</span>
              </div>
              <div class="show-menu2">
                  @for(s <- data.shows.all) {
                    <div class="show-menu2-item @{s.id}" show="@{s.id}">
                        <div class="show-menu2-ok glyphicon glyphicon-ok"
                                style="visibility: @{if(s.id==showOpt.get.id) { "visible" } else { "hidden" } }">
                        </div>
                        @{s.name}
                    </div>
                  }
              </div>
            </div>
          } else {
          }
        </div>

        <div class="menu-bar-line"></div>
        <div class="content">
            @content
        </div>

        <div class="footer-shadow"></div>

        <div class="footer">
            <div class="item share"></div><a class="item icon weibo" href="@{data.share.weiboUrl}" target="_blank"></a><a class="item icon wechat" tabindex="0" class="btn btn-lg btn-danger" data-toggle="popover" data-trigger="focus" data-placement="top"></a><a class="item icon email" href="mailto:" target="_blank"></a>
            <div style="display: none;" id="promoteQrcode">
                <div align="center" style="width: auto; height: auto;">
                    <p style="font-size: 20px;">微信扫一扫</p >
                    <img style="height: 200px; width: 200px; min-height: 200px; min-width: 200px;"
                         src="/assets/images/qrcode.png">
                </div>
            </div>
        </div>

        <div class="footer-line"></div>

        <div class="copyright">&copy;Maserati 2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy;玛莎拉蒂2014版权所有</div>

        <script src="@routes.Assets.at("javascripts/layout.js")" type="text/javascript"></script>

    </body>
</html>
