@(title: String)(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="logo">
        </div>

        <div class="menu-bar">
            <a class="menu" href="/mobiles">360°车型体验</a>
            <a class="menu" href="http://www.baidu.com">车展信息</a>
            <a class="menu" href="/">查找经销商</a>
            <a class="menu" href="http://maserati.uncrm.cn/">预约试驾</a>
            <a class="menu" href="/">联系我们</a>
        </div>

        <div class="content">
            @content
        </div>
    </body>
</html>
