@(message: String)

@layout("360°车型体验") {
    <div class="mobiles-content">
        <div class="box">
            <a class="car-icon"></a>
            <div class="text">Quottroporte<br>杰尼亚限量版</div>
            <div class="btn discover-more-btn">发现更多</div>
        </div>
        <div class="box">
            <a class="car-icon"></a>
            <div class="text">Quottroporte V8</div>
            <div class="btn discover-more-btn">发现更多</div>
            <div class="btn test-drive-btn">预约试驾</div>
        </div>
    </div>

    <div class="mobiles-menu-bar">
        <a class="menu" href="/">QUOTTROPORTE<br>总裁轿车系列</a>
        <a class="menu" href="/">GHIBLI轿车</a>
        <a class="menu" href="/">GRANTURISMO<br>跑车系列</a>
        <a class="menu" href="/">GRANCABRIO<br>敞蓬跑车系列</a>
        <a class="menu" href="/">概念车</a>
    </div>

    <div class="mobiles-menu-bar-shadow"></div>
}
