@(message: String)

@layout("360°车型体验") {
    <style type="text/css">
        .mobiles-content .mobile-thumbnail.quottro {
            background-image: url(/assets/images/mobiles/maserati-granturismo-sport.png);
        }

        .mobiles-content .mobile-thumbnail.quottro:hover {
            background-image: url(/assets/images/mobiles/maserati-granturismo-sport_dark.png);
        }
    </style>

    <div class="mobiles-content">
        <div class="box">
            <div class="mobile-thumbnail quottro"
                 interior="/assets/360/ghibli_interior/html/4-2.html">

                <div class="arrow"></div>

            </div>
            <div class="text">Quottroporte<br>杰尼亚限量版</div>
            <button class="btn discover-more-btn">发现更多</button>
        </div>
        <div class="box">
            <div class="mobile-thumbnail" style="background-image: url(/assets/images/mobiles/Bianco.png);">
                <div class="arrow"></div>
            </div>
            <div class="text">Quottroporte V8</div>
            <button class="btn discover-more-btn">发现更多</button>
            <button class="btn test-drive-btn">预约试驾</button>
        </div>
    </div>

    <div class="mobiles-menu-bar">
        <a class="menu" href="/">QUOTTROPORTE<br>总裁轿车系列</a>
        <a class="menu" href="/">GHIBLI轿车</a>
        <a class="menu" href="/">GRANTURISMO<br>跑车系列</a>
        <a class="menu" href="/">GRANCABRIO<br>敞蓬跑车系列</a>
        <a class="menu" href="/">概念车</a>
    </div>

    <div class="mobiles-menu-bar-shadow"></div>


    <!-- 360 窗口 -->
    <div class="mobiles-360-container">

        <div class="mobiles-360-header">
            <button class="btn exterior-btn">外观360°</button>
            <button class="btn interior-btn">内饰360°</button>
            <button class="btn close-360-btn">关闭</button>
        </div>

        <iframe class="mobiles-360-body" src=""></iframe>

    </div>

    <script src="@routes.Assets.at("javascripts/mobiles360.js")" type="text/javascript"></script>
}
