@(m: maserati.model.Model)
@import maserati.data
<!DOCTYPE html>

<html>

    <style type="text/css">
	/* fullscreen */
	html {
	}
	body {
                width: 100%; 
		margin: 0px;
		overflow:hidden; /* disable scrollbars */
	}
        .carousel-control.left ,
        .carousel-control.right {
           background-image: none;
        }
    </style>
    <head>
       <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
       <title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />

        <link href="@routes.Assets.at("/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
        <script src="@routes.Assets.at("javascripts/jquery-1.11.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("/bootstrap/js/bootstrap.js")" type="text/javascript"></script>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/landing.css")">
    </head>

    <body>
      <div class="discover-detail">
    @*      <div class="text-container" align="center">
              <div class="text text-head">
                  <div class="text mobile-name">@{m.name}</div>
                  <div class="text mobile-desc">@{m.subName}</div>
              </div>
              <div class="text shadow"></div>
              @for((l1, l2) <- m.detail.lines) {
              <div class="text mobile-title">@l1</div>
              <div class="text">@l2</div>
              }
          </div> *@
          <div class="discover-image">
              <div id="carousel-@{m.id}" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                      @for((p, i) <- m.detailPics.zipWithIndex) {
                      <div class="item @{if(i==0) "active" else ""}">
                          <img src="/assets/images/@{p}">
                      </div>
                      }
                  </div>
                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-@{m.id}" role="button" data-slide="prev" style="background-image:none;">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                      </span>
                  </a>
                  <a class="right carousel-control" href="#carousel-@{m.id}" role="button" data-slide="next" style="background-image:none;">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                  </a>
              </div>
          </div>
      </div>
    </body>

    <script src="@routes.Assets.at("javascripts/mobile_detail.js")" type="text/javascript"></script>

   <script>
$(document).ready(function() {
    var w =  $(document.body).css('width');
    var h = w * 534 /1280;  
    $(document.body).css({'height': h});
});

   </script>
</html>
