@(message: String)

@layout("车展信息") {

    <iframe class="auto-show-360" src="/assets/360Panos/SZAS Booth_360 Pano/SZAS Booth_360 Pano_HTML5/1.html">
    </iframe>

    <div class="auto-show-mid-bar">2014深港澳国际汽车博览会</div>

    <div class="auto-show-bottom">

        <div class="auto-show-gallery"></div>

        <div class="auto-show-info">

            <div class="auto-show-desc">
                在5月29日至6月4日举办的2014年深港澳国际汽车博览会上，玛莎拉蒂携旗下四款
                重磅车型强势出击本次车展，包括奢华典雅的全新第六代Quattroporte总裁轿车，
                极速激情的GranTurismo跑车，浪漫阳关的GranCabrio敞蓬跑车以及轻盈动感的全
                新Ghibli运动轿车，在全新意大利设计的玛莎拉蒂百年元素双层展台上，倾情诠释
                玛莎拉蒂品牌传承百年的优雅，奢华，运动与激情．
            </div>

            <div class="shadow"></div>

            <div class="info-box">
                <div class="title">时间 地址</div>
                <div class="time">
                    时间<br>
                    新闻媒体日 5月29日
                    公众参观日 5月30日-6月4日
                </div>
                <div class="location">
                    地址：
                    深圳会展中心 深圳市福田区福画三路
                </div>

                <button class="auto-show-map-btn">地图</button>

                <div class="stage">
                    玛莎拉蒂展台在4-09
                </div>
            </div>


        </div>
    </div>
}