@(show: maserati.model.Show)

@layout("车展信息", "show", Some(show)) {
<style type="text/css">
body {
  width: 1280px;
  margin: 0 auto;
}
</style>

    <iframe class="auto-show-360" src="/assets/360PanosPC/@{show.d360PC}">
    </iframe>

    <div class="auto-show-mid-bar">@{show.fullname}</div>

    <div class="auto-show-bottom">

        <div class="auto-show-gallery">
            <div id="carousel-@{show.id}" class="carousel slide" data-ride="carousel" style="max-width: 720px; max-height: 480px;">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    @for((p, i) <- show.gallery.zipWithIndex) {
                    <div class="item @{if(i==0) "active" else ""}">
                        <img src="/assets/images/@{p}">
                    </div>
                    }
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-@{show.id}" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>

                </a>
                <a class="right carousel-control" href="#carousel-@{show.id}" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="auto-show-info">

            <div class="auto-show-desc">
                @{show.desc}
            </div>

            <div class="shadow"></div>

            <div class="info-box">
                <div class="title">时间 地址</div>
                <div class="text schedule-title"></div>
                @for(line <- show.schedule) {
                    <div class="text">@line</div>
                }
                <div class="text location-title"></div>
                @for(line <- show.location) {
                    <div class="text">@line</div>
                }

                <a class="btn auto-show-map-btn" target="_blank" href="@{show.mapLink}"> </a>

                <div class="stage">
                    @{show.stage}
                </div>
            </div>
            <div style="clear:both"></div>
        </div>

    </div>

    <script src="@routes.Assets.at("javascripts/show.js")" type="text/javascript"></script>
}
